.BtnsAmount{
    list-style: none;
    display:flex;
    width: 170px;;
    height: 30px;
    background-color: #D8CFC3;
    border-radius: 10px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-left: 25px;
}